old.tex
vietion.txt


*.lof
*.lot
*.toc

*.aux
*.bib
*.log
*.nav
*.out
*.bbl
*.run.xml
*.snm
*.synctex.gz
*.toc

paper_FLBFONN.pdf
slide/slide_conference.pdf
2019_TAMC_proceedings/
paper_23_bibtex/
paper_23_bibtex2/
useless/
ref/





